@using Proyecto_TallerII.Models
@using Proyecto_TallerII.Repositories
@using Proyecto_TallerII.ViewModels
@model CrearTableroViewModel
@{
    int IdUsuarioPropietario = Autorizaciones.ObtenerIdUsuario(ViewContext.HttpContext);
}

<section class="w-full flex flex-col justify-center items-center flex-grow min-h-[calc(100vh-20vh)]">
    <div class="flex flex-col justify-center items-center w-full flex-grow">
        <h1 class="text-[#3b3b3b] text-[40px] font-bold mb-8">Crear Tablero</h1>
        <form asp-controller="Tablero" asp-action="CrearTablero" method="post" class="space-y-8 w-full max-w-[400px]">
            <input type="hidden" asp-for="@IdUsuarioPropietario" />
            <div class="mb-4 relative">
                <input type="text" asp-for="@Model.NombreDeTablero"
                    class="form-control text-[#3b3b3b] text-[18px] font-bold placeholder-[#4d4d4d] placeholder:text-[18px] placeholder:font-bold bg-[#f2f2f2] border-2 px-4 border-[#8c52ff] rounded-[18px] w-full h-[50px] focus:outline-none focus:border-[#8c52ff] focus:bg-[#f2f2f2] focus:placeholder-[#3b3b3b] focus:text-[#3b3b3b] focus:font-bold focus:text-[18px]"
                    placeholder="Nombre..." />
                <span asp-validation-for="@Model.NombreDeTablero"
                    class="absolute left-0 top-full mt-1 ml-2 text-[#CC7A00] w-full block text-sm font-bold">
                </span>
            </div>
            <div class="mb-4 relative">
                <textarea asp-for="@Model.DescripcionDeTablero"
                    class="form-control text-[#3b3b3b] text-[18px] font-bold placeholder-[#4d4d4d] placeholder:text-[18px] placeholder:font-bold bg-[#f2f2f2] border-2 pt-2 px-4 border-[#8c52ff] rounded-[18px] w-full h-[160px] focus:outline-none focus:border-[#8c52ff] focus:bg-[#f2f2f2] focus:placeholder-[#3b3b3b] focus:text-[#3b3b3b] focus:font-bold focus:text-[18px]"
                    placeholder="Descripcion...">
                </textarea>
                <span asp-validation-for="@Model.DescripcionDeTablero"
                    class="absolute left-0 top-full mt-1 ml-2 text-[#CC7A00] w-full block text-sm font-bold">
                </span>
            </div>
            <div class="flex flex-col items-center gap-3">
                <button type="submit"
                    class="bg-[#8c52ff] text-white text-[22px] font-bold border-2 border-[#8c52ff] rounded-[18px] w-full h-[50px]">Crear
                    Tablero</button>
                <a asp-controller="Tablero" asp-action="Index"
                    class="text-[#3b3b3b] text-[25px] font-bold underline hover:text-[#8c52ff]"
                >Volver al Inicio</a>
            </div>
        </form>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
